*{
    margin: 0%;
    padding: 0%;
    box-sizing: border-box;
}

body{
    font-family: 'Bitter', serif; 
    color: #8C55D4;
}

/*header*/
.promo{
    background-color: #8C55D4;
    color: white;
    text-align: center;
    font-weight: 400;
}
.marca{
    text-align: center;
}
nav ul{
    list-style: none;
    text-align: center;
    }
    
    ul li{
        display: inline-block;
        position: relative;
        padding: 5px;
        width: 15%;
    }
    ul li ul{
        position: absolute;
        display: none;
    }
    ul li ul li{
        display: block;
    }
    ul li:hover ul{
        display: block;
    }
    ul li a:hover, ul li a:focus{
        color: white;
        background-color: #C46AEB;
    }
    ul li a{
        color: #6D16D9 ;
        text-decoration: none;
        text-transform: uppercase;
        font-size: medium;
        border-radius: 5px;
        padding: 5px;
    }
/*main*/
main{
min-height: calc(100vh - 100px - 300px);
    }
/*main index*/
.container{
    display: flex;
    max-width: 100%;
    height: 70vh;
    background-image: url(../images/banner.webp) ;
    background-repeat: no-repeat;
    background-size: cover ;
    background-position: inherit ;
}

.wrap{
    max-width: 1400px;
    margin: 0 ;
    height: 100%;
    display: flex;
    flex-flow: row wrap;
    justify-content: right;
}
.box{
    flex-basis: 50%;
    text-align: right;
    align-self: flex-end;
    color: black;
}
span{
    font-size: 20px;
    letter-spacing: 3px;
}
h2{
    font-size: 25px;
    line-height: 1.2 ;
    padding-bottom: 10px;
}
.botones{
    display: flex;
    margin-top: 30px;
    flex-flow: row-reverse;
}
.btn1{
    flex-basis: 30%;
    border: solid 3px;
    border-radius: 20px;
    padding: 10px 30px 10px 30px;
    margin: 20px;
    text-align: center;
    text-decoration: none;
    color: #6D16D9;
    font-weight: 600;
}
.btn1:hover{
    background-color: rgba(255, 255, 255, 0.3);
}
.btn2{
    flex-basis: 30%;
    border: solid 3px;
    border-radius: 20px;
    padding: 10px 30px 10px 30px;
    margin: 20px;
    text-align: center;
    text-decoration: none;
    color: #8C55D4;
    background-color: #C9B0F5;
    font-weight: 600;
}
.btn2:hover{
    background-color: rgba( 255, 255, 255, 0.3);
}



/*Footer*/

.footer_flex{
    flex-direction: column;
    display: flex;
    justify-content: center;
    align-items:  center;
    font-weight: 400;
    font-size: 17px;
}
.N-P{
    font-weight: 600;
    font-family:sans-serif ;
    font-style: italic;
    justify-content:center ;
    padding: 10px;
    letter-spacing: 5px;
    margin: 0 0 0 70px;
}
.formulario{
    padding: 10px;
    margin: 0 0 50px 0;

}
.redes_flex{
    display: flex;
    align-items: center ;
    padding: 10px;
    margin: 0 0 0 90px;
}
.logo{
    max-width: 40px;
    padding: 5px;
    margin: 1 px 3px 3px 10px;
}
.btn_e{
border-radius: 10px ;
padding: 10px;
margin: 20px 0 0 120px;
    background-color: #8C55D4;
    color: white;
}
.qsfooter{
    text-decoration: none ;
    padding: 5px;
    margin: 10px 0 20px 60px;
    font-size: 20px;
    font-weight: 400;
    background-color:#C9B0F5 ;
    color: black;
}
.copy{
    font-weight: 400;
    color: black;
    align-self: center;
    margin: 0 0 0 80px;
}
.onda{
    background-image: url(../images/wave.svg);
    background-repeat: no-repeat;
    position: relative;
    justify-content: end;
    align-items:flex-end ;
    height: 100%;
    margin: 0;
    background-position-y: bottom;
}

/*Main QS*/
.qsflex1{
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 5px;
    margin: 100px 200px 0 300px;
    flex-grow: 1;
}
.qsflex2{
    display: flex;
    flex-direction: row-reverse;
    align-items:center;
    justify-content:right ;
    flex-grow: 1;
    padding: 5px;
    margin: 0 0 100px 300px;
}
.pqs{
    max-width: 50%;
    
}
.imgqs{
    max-width: 80%;
}
h3{
    letter-spacing: 3px;
    padding: 5px;
}
.h1qs{
    text-align: center;
    letter-spacing: 6px;
    font-family: serif;
    margin: 50px 0 0 0;
    background:linear-gradient(to bottom, #C9B0F5, white) ;
}

/*main tienda*/
.flexcat{
    display: flex;
    max-width: 100%;
    align-items: baseline;
    justify-content: space-around;
    margin: 30px 0 30px 0;
}
.categoria{
    border-style:outset ;
    margin: 3px;
    padding: 5px;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.imgprod{
    max-width: 300px;
}
.btnprod{
    border: solid 3px;
    border-radius: 20px;
    padding: 10px 30px 10px 30px;
    margin: 20px;
    text-align: center;
    text-decoration: none;
    color: #8C55D4 ;
    background-color: white;
    font-weight: 600;
}
.btnprod:hover{
    background-color: #E4B8FF;
}
.producto{
    display: flex;
    flex-direction: column;
    align-items: center;
}
