// font style
@import url('https://fonts.googleapis.com/css2?family=Cabin:ital,wght@0,400;0,600;1,400&display=swap');
$font-family: 'Cabin', sans-serif;

//paleta de colores

$celeste: #C9B0F5;
$morado: #8C55D4;

$full-width: 960px;

//variables de bootstrap

$primary: $celeste;
$secondary: $morado;


@import "../node_modules/bootstrap/scss/bootstrap";

//scss personalizado

.navbar-light{
    background-color: #C9B0F5;
}
.navbar{
    ul{
        li:hover {
            ul{
            display: block;
            background-color: #C9B0F5;
        
        a:hover, a:focus{
            color: white;
            background-color: #C46AEB;       
} } } } }
.marca{
    text-align: center;
    color: #8C55D4 ;
}
.promo{
    background-color: #8C55D4;
    color: white;
    text-align: center;
    font-weight: 400;
}
.card-img{
        max-width: 100%;
        height: 70vh;
        object-fit: cover; 
        object-position: top;
}
span{
    font-size: 20px;
    letter-spacing: 3px;
    background-color:#8C55D4 ;

}
h2{
    font-size: 25px;
    line-height: 1.2 ;
    padding-bottom: 10px;
}
.botones{
    display: flex;
    margin-top: 30px;
    flex-flow: row-reverse;
}
.btn1{
    flex-basis: 30%;
    border: solid 3px;
    border-radius: 20px;
    padding: 10px 30px 10px 30px;
    margin: 20px;
    text-align: center;
    text-decoration: none;
    color: #6D16D9;
    font-weight: 600;
}
.btn1:hover{
    background-color: rgba(255, 255, 255, 0.3);
}
.btn2{
    flex-basis: 30%;
    border: solid 3px;
    border-radius: 20px;
    padding: 10px 30px 10px 30px;
    margin: 20px;
    text-align: center;
    text-decoration: none;
    color: #8C55D4;
    background-color: #C9B0F5;
    font-weight: 600;
}
.btn2:hover{
    background-color: rgba( 255, 255, 255, 0.3);
}
.container-footer{
    align-items: center;
    justify-content: center;
}
.N-P{
    font-weight: 600;
    font-family:sans-serif ;
    font-style: italic;
    justify-content:center ;
    text-align: center;
    padding: 10px;
    letter-spacing: 5px;
    margin: 0 0 0 70px;
}
.redes_flex{
    display: flex;
    align-items: center ;
    padding: 10px;
    margin: 0 0 0 90px;
}
.logo{
    max-width: 40px;
    padding: 5px;
    margin: 1 px 3px 3px 10px;
}
.btn_e{
border-radius: 10px ;
padding: 10px;
margin: 20px 0 60px 360px;
    background-color: #8C55D4;
    color: white;
    justify-content: center ;
}
.qsfooter{
    text-decoration: none ;
    padding: 5px;
    margin: 10px 0 20px 60px;
    font-size: 20px;
    font-weight: 400;
    background-color:#C9B0F5 ;
    color: black;
}
.copy{
    font-weight: 400;
    color: black;
    align-self: center;
    margin: 0 0 0 80px;
}
.onda{
    background-image: url(../images/wave.svg);
    background-repeat: no-repeat;
    position: relative;
    justify-content: end;
    align-items:flex-end ;
    height: 100%;
    margin: 0;
    background-position-y: bottom;
}
.pqs{
    max-width: 70%;
}
.imgqs{
    max-width: 100%;
}
h3{
    letter-spacing: 3px;
    padding: 5px;
}
//Sass operaciones//
.h1qs{
    text-align: center;
    letter-spacing: 6px;
    font-family: serif;
    margin: 50px 0 0 0;
    width: ($full-width/2);
}
.row{
    align-items: center;
}

