// font style
@import url('https://fonts.googleapis.com/css2?family=Cabin:ital,wght@0,400;0,600;1,400&display=swap');
$font-family: 'Cabin', sans-serif;

//paleta de colores

$celeste: #C9B0F5;
$morado: #8C55D4;

//Operaciones//
$full-width: 100vw;
@mixin boton-morado{
    background-color: #8C55D4;
    color: white; 
}

//variables de bootstrap

$primary: $celeste;
$secondary: $morado;


@import "../node_modules/bootstrap/scss/bootstrap";

//scss personalizado

//header

header{
    .navbar-light{
        background-color: #C9B0F5;
    }
    .navbar{
        margin: 0;
        ul{
            li:hover {
                ul{
                display: block;
                background-color: #C9B0F5;
            
            a:hover, a:focus{
                color: white;
                background-color: #C46AEB;       
    } } } } }
    .marca{
        text-align: center;
        color: #8C55D4 ;
    }
    .promo{
        background-color: #8C55D4;
        color: white;
        text-align: center;
        font-weight: 400;
    }
}

//main inicio

.mainindex{
    .card-img{
        max-width: 100%;
        height: 70vh;
        object-fit: cover; 
        object-position: top;
    }
    span{
    font-size: 20px;
    letter-spacing: 3px;
    background-color:#8C55D4 ;  
    //animacion  
        animation-duration: 3s;
        animation-name: slidein;
      }
      
      @keyframes slidein {
        from {
          margin-left: 100%;
          width: 300%
        }
      
        to {
          margin-left: 0%;
          width: 100%;
        }
      }

    }
     h2{
    font-size: 25px;
    line-height: 1.2 ;
    padding-bottom: 10px;
}
.botones{
    display: flex;
    margin-top: 30px;
    flex-flow: row-reverse;
}
.btn1{
    flex-basis: 30%;
    border: solid 3px;
    border-radius: 20px;
    padding: 10px 30px 10px 30px;
    margin: 20px;
    text-align: center;
    text-decoration: none;
    font-weight: 600;
    @include boton-morado;
}
.btn1:hover{
    background-color: rgba(255, 255, 255, 0.3);
}
.btn2{
    @extend .btn1;
    color: #8C55D4;
    background-color: #C9B0F5;
    
}
.btn2:hover{
    background-color: rgba( 255, 255, 255, 0.3);
}


//footer

footer{
    background-image: url(../images/wave2.svg);
    background-repeat: no-repeat;
    position: relative;
    justify-content: end;
    align-items:flex-end ;
    height: 100%;
    margin: 0;
    background-position-y: bottom;
    background-size: cover ;
        
    .container-footer{
        align-items: center;
        justify-content: center;
    }
    .N-P{
        font-weight: 600;
        font-family:sans-serif ;
        font-style: italic;
        justify-content:center ;
        text-align: center;
        padding: 10px;
        letter-spacing: 5px;
        margin: 0 0 0 70px;
    }
    .redes_flex{
        display: flex;
        align-items: center ;
        padding: 10px;
        margin: 0 0 0 ;
    }
    .logo{
        max-width: 40px;
        padding: 5px;
        margin: 1 px 3px 3px 10px;
    }
    .btn_e{
    border-radius: 10px ;
    padding: 10px;
    margin: 20px 0 60px 50px;
        @include boton-morado;
        justify-content: center ;
    }
    .qsfooter{
        text-decoration: none ;
        padding: 5px;
        margin: 10px 0 20px 0;
        font-size: 20px;
        font-weight: 400;
        background-color:#C9B0F5 ;
        color: black;
    }
    .copy{
        font-weight: 400;
        color: black;
        align-self: center;
        margin: 0 0 0 0;
    }
    
}

.pqs{
    max-width: 70vw;
}
.imgqs{
    margin: 0;
}
h3{
    letter-spacing: 3px;
    padding: 5px;
}
//Sass operaciones//
.h1qs{
    text-align: center;
    letter-spacing: 6px;
    font-family: serif;
    margin: 50px 0 0 0;
    width: ($full-width)-20vw;
}
.row{
    align-items: center;
}
.input-group{
    max-width: 80vw;
}